<section class="operator-wrapper">
  <div class="container">
    <div class="row align-items-center justify-content-center mb-30">
      <div class="d-flex align-items-center">
        <img [src]="operator.logo" alt="" class="mr-20 operator-logo">
      </div>
    </div>
    <form #fillForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center">
        <div class="col-6 full-width-input">
          <mat-form-field appearance="outline">
            <mat-label>Mobile Phone</mat-label>
            <input type="tel"
                   matInput
                   name="phone" id="phone"
                   appIsPhone
                   required
                   #phone="ngModel"
                   [textMask]="{mask: phoneMask}"
                   [(ngModel)]="model.phone"
                   placeholder="+7 (999) 999-9999">
            <mat-error *ngIf="(phone.invalid && (phone.dirty || phone.touched)) && phone.errors.isPhone">
              Invalid phone
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-7"></div>
        <div class="col-6 full-width-input">
          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput
                   name="amount" id="amount"

                   required
                   #amount="ngModel"
                   [textMask]="{mask: amountMask, guide: false}"
                   [(ngModel)]="model.amount" type="tel" >
            <span matSuffix>₽</span>
            <mat-error *ngIf="(amount.invalid && (amount.dirty || amount.touched)) && amount.errors.min">
              Should be no less than 1₽
            </mat-error>
            <mat-error *ngIf="(amount.invalid && (amount.dirty || amount.touched)) && amount.errors.max">
              Should be no more than 1000₽
            </mat-error>
            <mat-hint>Min 1₽ Max 1000₽</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-7"></div>
        <div class="col-12 col-lg-6 d-flex justify-content-end">
          <button type="submit" mat-raised-button color="primary" [disabled]="!fillForm.form.valid">Fill</button>
        </div>
      </div>
    </form>
  </div>
</section>
