
.operator-main-wrapper {
  padding: 30px 0;
}

.operator-mat-card {
  height: 175px;
  display: flex;
  margin-bottom: 30px;
  box-shadow: none;
  .mat-card-image {
    max-width: 100%;
    max-height: 120px;
    margin: auto;
    display: block;
  }
  .mat-icon {
    font-size: 130px;
    height: auto;
    width: auto;
    display: block;
    margin: auto;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: black;
    z-index: -1;
    box-shadow: 0px 1px 2px #000, 0px 3px 3px rgba(0, 0, 0, 0), 0px 10px 10px rgba(0, 0, 0, 0), 0px 14px 14px rgba(0, 0, 0, 0), 0px 19px 19px rgba(0, 0, 0, 0);
    border-radius: 2px;
    opacity: 0.24;
    transition: opacity 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1)
  }

  &:hover {
    &:before {
      opacity: 0.6;
    }
  }

  @media(min-width: 576px) {
    height: 245px;

    .mat-card-image {
      max-width: 160px;
    }
  }

  @media(max-width: 576px) {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    .mat-card-image {
      width: auto;
    }
  }
}
